doctype html
html(lang="en")
    head
        link(rel='stylesheet' href="https://use.fontawesome.com/releases/v5.0.12/css/all.css")
        link(rel='stylesheet' href='/stylesheets/app.css')
        link(rel='stylesheet' href='/stylesheets/listModal.css')
        link(rel='stylesheet' href='/stylesheets/editTaskNav.css')
        title Remember the Bananas
        //- meta(name="title" content="Remember The Bananas")
        //- meta(name="description" content="https://remember-the-bananas.herokuapp.com/
        //- A feature-rich clone of Remember The Milk with the ability to add, delete, and search custom tasks and lists. Made using the following technologies: Express, Pug, Sequelize, and password hashing security using bcrypt.")
        //- meta(property="og:type" content="website")
        //- meta(property="og:url" content="https://metatags.io/")
        //- meta(property="og:title" content="Remember The Bananas")
        //- meta(property="og:description" content="https://remember-the-bananas.herokuapp.com/
        //- A feature-rich clone of Remember The Milk with the ability to add, delete, and search custom tasks and lists. Made using the following technologies: Express, Pug, Sequelize, and password hashing security using bcrypt.")
        //- meta(property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png")


        //- meta(property="twitter:card" content="summary_large_image")
        //- meta(property="twitter:url" content="https://metatags.io/")
        //- meta(property="twitter:title" content="Remember The Bananas")
        //- meta(property="twitter:description" content="https://remember-the-bananas.herokuapp.com/
        //- A feature-rich clone of Remember The Milk with the ability to add, delete, and search custom tasks and lists. Made using the following technologies: Express, Pug, Sequelize, and password hashing security using bcrypt.")
        //- meta(property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png")

    body
        head
            div.masthead
                div.burger
                    i(id="bars" class="fas fa-bars" href="#")
                div.searchbar
                    //- form(method="post" action="/app/search" class="formSearch")
                    form.search
                        input(id="textBar" class="fas fa-search" type="text" class="inputBar" name="searchValue" placeholder="Search for a task")
                        //- i(id="search" class="fas fa-search" href="#")
                div.enterSearch
                    button(id="search" class="fas fa-search" href="#" type="submit")
                div.hello
                    a Welcome to Remember the Bananas #{user.username}!
                div.loggingOutButton
                    button.logoutbutton: i(class="fas fa-sign-out-alt")
                div.logout
                    <i class="fas fa-cloud"></i>
                    <i class="far fa-bell"></i>
                    <i class="fas fa-cogs"></i>
        main
            div(class="container")
                div.main(id="sidebar")
                        <img class="imagesidebar" src="/images/newLogo2.png">
                            table
                                thead
                                    tr
                                        th <i class="fas fa-angle-right"></i>All tasks
                                    tr.dropRow
                                        th <i class="fas fa-angle-right"></i><button class="listButton"> Lists</button>
                                            div(class="dropdownmenu" )
                                                    each list in allLists
                                                        <a href="/app/#{list.id}"> #{list.name} </li>
                                        div#myModal.modal
                                            div.modal-content
                                                span.close &times
                                                p Add Your List..
                                                form(method="post" action="/app/lists")
                                                    input(class="textBar" type="text" name="list")
                                                    button.confirmAdd(type="submit") Add New List
                                    tr
                                        th <i class="fas fa-angle-right"></i>Favorites
                                    tr
                                        th <i class="fas fa-angle-right"></i>Smart Lists
                                    tr
                                        th <i class="fas fa-angle-right"></i>Contacts
                                    tr
                                        th <i class="fas fa-angle-right"></i>Tags
                                    tr
                                        th <i class="fas fa-angle-right"></i>Locations
                                thead
                                    tr

                        div
                            button.add(type="submit") <i class="fas fa-plus"></i>

                div.main(id='taskfield')
                    div#myModal.modal
                        div.modal-content
                            span.close &times
                            p Add Your List..
                            form(method="post" action="/app/lists")
                                input(class="textBar" type="text" name="list")
                                button.confirmAdd(type="submit") Add New List
                    div.tasks
                        table.contentTable
                            thead
                                tr
                                    th
                                        img(class="banimg" src="/images/banana.png")
                                    th
                                        form.form
                                            <input type="hidden" value=#{list.id} name="listId">
                                            <input class="inputBar" type="text" name="task" placeholder="Add a task...">
                                    th
                                        button.submit(type='submit') Add
                                        button.delete(type="submit") Delete
                                tbody.taskRow
                                    if allTasks
                                        each task in allTasks.Tasks
                                            tr.taskRows
                                                td.check: <input class="checkbox" type="checkbox"/>
                                                td(class="taskListed")=task.name
                                                td
                div.main(id="random")
                    ul.current-list
                        if list
                         <li>#{list.name}<i class="fas fa-wifi"></i><i class="far fa-calendar"></i></li>
                    div.task-info
                        div.taskCount
                            h3(id='task-number')
                                li Number of Tasks
                        div.share
                            button: i(class="far fa-user")  Share

        script(src="/javascripts/index.js" type="module")
        script(src="/javascripts/list.js" type="module")
