doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href="https://use.fontawesome.com/releases/v5.0.12/css/all.css")
        link(rel='stylesheet' href='/stylesheets/app.css')
        link(rel='stylesheet' href='/stylesheets/listModal.css')
        link(rel='stylesheet' href='/stylesheets/editTaskNav.css')
        title Remember the Bananas
    body
        head
            div.masthead
                div.burger
                    i(id="bars" class="fas fa-bars" href="#")
                div.searchbar
                    //- form(method="post" action="/app/search" class="formSearch")
                    form.search
                        button(id="search" class="fas fa-search" href="#" type="submit")
                        input(id="textBar" class="fas fa-search" type="text" class="inputBar" name="searchValue" placeholder="Search for a task")
                    //i(id="search" class="fas fa-search" href="#")
                div.hello
                    a Welcome to Remember the Bananas #{user.username}!
                    button.logoutbutton: i(class="fas fa-sign-out-alt")
                div.logout
                    <i class="fas fa-cloud"></i>
                    <i class="far fa-bell"></i>
                    <i class="fas fa-cogs"></i>
        main
            div(class="container")
                div.main(id="sidebar")
                        <img class="imagesidebar" src="/images/newLogo2.png">
                            table
                                thead
                                    tr
                                        th <i class="fas fa-angle-right"></i>All tasks
                                    tr
                                        th <i class="fas fa-angle-right"></i>lists
                                        th
                                            button.add(type="submit") <i class="fas fa-plus"></i>
                                    tr
                                        th <i class="fas fa-angle-right"></i>Favorites
                                    tr
                                        th <i class="fas fa-angle-right"></i>Smart Lists
                                    tr
                                        th <i class="fas fa-angle-right"></i>Contacts
                                    tr
                                        th <i class="fas fa-angle-right"></i>Tags
                                    tr
                                        th <i class="fas fa-angle-right"></i>Locations
                                tbody
                                    each list in allLists
                                        tr
                                            td
                                                a(href=`/app/${list.id}`)= list.name
                        //- div
                        //-     table
                        //-         thead
                        //-             tr
                        //-                 th
                        //-         tbody
                        //-             tr
                        //-                 td All Tasks
                        //-                 td Contacts
                        //-                 td Tags
                        //-                 td Locations
                div.main(id='taskfield')
                    div#myModal.modal
                        div.modal-content
                            span.close &times
                            p Add Your List..
                            form(method="post" action="/app/lists")
                                input(class="textBar" type="text" name="list")
                                button.confirmAdd(type="submit") Add New List
                    div.tasks
                        table.contentTable
                            thead
                                tr
                                    th
                                    th
                                        form.form
                                            <input type="hidden" value=#{list.id} name="listId">
                                            <input class="inputBar" type="text" name="task" placeholder="Add a task...">
                                    th
                                        button.submit(type='submit') Add
                                        button.delete(type="submit") Delete
                                tbody.taskRow
                                    if allTasks
                                        each task in allTasks.Tasks
                                            tr.taskRows
                                                td.check: <input class="checkbox" type="checkbox"/>
                                                td(class="taskListed")=task.name
                                                td

                        //- else
                        //-     table.contentTable
                        //-         thead
                        //-             tr
                        //-                 th check
                        //-                 th task
                        //-                 th
                        //-         tbody.taskRow
                div.main(id="random")
                    ul.current-list
                        if list
                         <li>#{list.name}<i class="fas fa-wifi"></i><i class="far fa-calendar"></i></li>
                    .task-info
                        div.taskCount
                            h3(id='task-number')
                                li Number of Tasks
                        div.share
                            button: i(class="far fa-user")  Share

                    //- div.main(id="edit-nav")
                    //-     div
                    //-         if !selectedItems

                    //-             div
                    //-                 input(placeholder="${selectedItem[0]}")
                    //-                 button(type="submit" class="fas fa-edit")
                    //-             div
                    //-                 p Notes
                    //-             div
                    //-                 textarea(name="notes", cols="30", rows="10")

        script(src="/javascripts/index.js" type="module")
        script(src="/javascripts/list.js" type="module")
